body {
    background-color: #FFFFFF;
}

.main-shoppingCart {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

@font-face {
    font-family: "GTS";
    src: url("../css/root/fonts/GTStandard-MRegular.woff2") format("truetype");
}

@font-face {
    font-family: "GTS1.2";
    src: url("../css/root/fonts/GTStandard-MMedium.woff2") format("truetype");
}


.Shopping-header {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0 40px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;

}


.breadcrumb-header {
    text-align: center;
    height: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    margin: auto;
    background-color: #F5F5F5;
}

.breadcrumb-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #777;
}

.breadcrumb-item.active {
    font-weight: 600;
    color: black;
}


.shipping-widget {
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}


.progress-bar {
    width: 800px;
    height: 14px;
    margin-top: 20px;
    background: #eae9e9;
    border-radius: 5px;
    position: relative;
}

.progress-fill {
    height: 100%;
    width: 0%;
    border-radius: 10px;

    background: repeating-linear-gradient(45deg,
            #f7b500 0px,
            #f7b500 10px,
            #ffc933 10px,
            #ffc933 20px);

    background-size: 28px 28px;

    animation: stripeMove .8s linear infinite;

    transition: width .5s ease;
}


.progress-fill.green {
    height: 100%;
    width: 0%;
    border-radius: 10px;
    background: repeating-linear-gradient(45deg,
            #2ecc71,
            #2ecc71 10px,
            #58d68d 10px,
            #58d68d 20px);

    background-size: 28px 28px;

    animation: stripeMove 0.8s linear infinite;

    transition: width .6s ease;

}

.progress-fill.green~#truck {
    border-color: #2ecc71;
}

.progress-fill.green~#truck .truck-icon {
    color: #2ecc71;
}

@keyframes stripeMove {

    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 0;
    }

}

.truck-icon {
    font-size: 14px;
    color: #f7b500;
}

.truck {
    position: absolute;
    top: -16px;
    left: 0%;
    width: 34px;
    height: 34px;
    background: #fff;
    border: 0.5px solid #f7b500;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    transition: left .5s ease;
}

.free-shipping-box {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 10px;
    transition: opacity .35s ease, transform .35s ease;
}

.free-shipping-box.show {
    opacity: 1;
    transform: translateY(0);
}

.freeShippingIcon {
    color: #2ecc71;
    font-size: 18px;
}


.cart-table {
    border: 1px solid #e5e5e5;
    background: white;
}

.cart-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background: #f2f2f2;
    padding: 22px 30px;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 600;
}

.cart-header span:nth-child(2) {
    text-align: center;
}

.cart-header span:nth-child(3) {
    text-align: right;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 30px;
    border-top: 1px solid #eee;
    transition: opacity .35s ease, transform .35s ease;

}

.cart-item.removing {
    opacity: 0;
    transform: translateX(-40px);
}

.remove-item.removing {
    transform: rotate(90deg) scale(.8);
    color: #e00000;
    transition: .25s;
}

@keyframes shakeQty {

    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-4px);
    }

    40% {
        transform: translateX(4px);
    }

    60% {
        transform: translateX(-4px);
    }

    80% {
        transform: translateX(4px);
    }

    100% {
        transform: translateX(0);
    }

}

.shake {
    animation: shakeQty .35s ease;
}

.cart-left {
    display: flex;
    align-items: center;
    width: 50%;
}

.cart-img {
    width: 90px;
    margin-right: 20px;
}


.product-info {
    display: flex;
    flex-direction: column;
}

.product-info img {
    width: 90px;
}

.product-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}

.product-price {
    margin-bottom: 5px;
}

.product-variant {
    font-size: 14px;
    color: #777;
}

/* QUANTITY */

.cart-qty {
    width: 25%;
    display: flex;
    justify-content: center;
}

.qty-box {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #f2f2f2;
    padding: 12px 18px;
}

.qty-box button {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

.cart-right {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.item-total {
    font-size: 18px;
}

.remove-btn {
    font-size: 22px;
    cursor: pointer;
}


.product-color {
    font-size: 14px;
    color: #777;
}


.quantity-box {
    display: flex;
    justify-content: center;
}

.quantity-controls {
    display: flex;
    align-items: center;
    background: #f2f2f2;
    padding: 12px 18px;
    gap: 18px;
}

.quantity-controls button {
    border: none;
    background: none;
    font-size: 22px;
    cursor: pointer;
}

.quantity-controls span {
    min-width: 20px;
    text-align: center;
}


.price-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    font-size: 18px;
}

.remove-item {
    font-size: 22px;
    cursor: pointer;
}


.cart-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}

.continue-shopping {
    border: 2px solid #e5e1d8;
    padding: 16px 30px;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    color: black;
}

.continue-shopping:hover {
    background: black;
    color: white;
}

.clear-cart {
    border: none;
    background: none;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: underline;
}

.clear-icon {
    margin-right: 0px;
    font-size: 16px;
    transition: 0.2s;
}


.clear-cart:hover {
    color: #e00000;
}

.clear-cart:hover .clear-icon {
    color: #e00000;
}

@font-face {
    font-family: "diff";
    src: url("../fonts/Different/Heading\ Now.ttf") format("truetype");
}

.empty-cart-message {

    text-align: center;
    padding: 80px 20px;

}

.emptyCartIcon {

    font-size: 60px;
    color: #dcdcdc;
    margin-bottom: 20px;

}

.empty-cart-message h2 {

    font-size: 28px;
    margin-bottom: 25px;

}

.empty-cart-message h2 {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 15px;
}

.emptyCartSubtext {
    font-size: 18px;
    color: #777;
    margin-bottom: 35px;
}


.emptyCartIcon {
    font-size: 90px;
    color: #e5e5e5;
    margin-bottom: 30px;
}


.emptyCartBtn {

    display: inline-block;
    padding: 14px 40px;
    background: black;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all .3s ease;

}

.emptyCartBtn:hover {

    background: #222;
    transform: translateY(-2px);

}

.cartPage {
    display: flex;
    gap: 40px;
    padding: 40px;
}

.cartNoteSection,
.cartShippingSection {
    width: 35%;
}

.cartSummarySection {
    width: 30%;
}

.cartNoteInput {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
}

.cartCountryInput,
.cartProvinceInput,
.cartZipInput {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.cartSaveBtn,
.cartShippingBtn,
#cartCheckoutButton {
    background: black;
    color: white;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
}

.cartSummaryBox {
    background: white;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cartSubtotal {
    float: right;
    font-size: 20px;
}

.cartSummaryText {
    font-size: 14px;
    color: gray;
    margin: 20px 0;
}

.shippingPreview {
    color: #8a8a8a;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: none;
}