.hero-slider {
    width: 100%;
    height: 900px;
    overflow: hidden;
    margin-top: -100px;
}

.slides-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.8s ease;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 80px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.slide1 {
    background-image: url('../media/hero-slider-21.jpg');
}

.slide2 {
    background-image: url('../media/v5-bg-hero-01.webp');
}

.slide3 {
    background-image: url('../media/hero-slider-22.jpg');
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.hero-content {
    width:55%;
    color: white;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.8s ease;
}

.slide.active .hero-content {
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero-content h1 {
    font-size: 70px;
    margin-bottom: 15px;
}

.hero-content p {
    margin-bottom: 20px;
    font-size: 18px;
}

.hero-content a {
    padding: 12px 25px;
    background: #fff;
    color: #000;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
}

.slider-dots {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 10;
}

.dot {
    width: 9px;
    height: 9px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 11;
}

.dot.active::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}


/* Trendung right now */

.trending-right-now {
    display: flex;
    justify-content: space-between;
    padding-block: 100px;
   
}
.sectionShow{
     opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}
.sectionShow.show {
    opacity: 1;
    transform: translateY(0);
}

.trending-right-now .left {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trending-right-now .left h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.trending-right-now .left p {
    font-size: 18px;
    margin-top: 10px;
}

.trending-right-now .right {
    width: 75%;
    display: flex;
    justify-content: space-between;
}


.trending-right-now .right .item {
    width: 16%;
    text-align: center;
}
.trending-right-now .right .item .cer-img {
   overflow: hidden;
   border-radius: 50%;
}

.trending-right-now .right .item .cer-img img{
   transition: transform 0.7s ease-in-out;
}

.trending-right-now .right .item .cer-img:hover img{
   transform: scale(1.1);
}
.trending-right-now .right .item p {
    margin-top: 10px;
    font-size: 18px;
}

/* Home collections */

.home-collection {
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    height: 707px;
}

.home-collection .collection-img-main-container {
    width: 32%;
    padding: 40px;
    height: 100%;
    text-align: center;
    position: relative;
    background-position: center;
    background-size: cover;

}

.home-collection .collection-img-main-container.collection1 {
    background-image: url('../media/v5-banner-03.webp');
}

.home-collection .collection-img-main-container.collection2 {
    background-image: url('../media/v5-banner-01.webp');
}

.home-collection .collection-img-main-container.collection3 {
    background-image: url('../media/v5-banner-02.webp');
}

.home-collection .collection-img-main-container .collection-cont {
    position: relative;
    z-index: 3;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.home-collection .collection-img-main-container .collection-cont h3 {
    font-size: 35px;
}

.home-collection .collection-img-main-container .collection-cont a {
    width: fit-content;
    margin-block: 20px;
    border-bottom: 1px solid;
}

.home-collection .collection-img-main-container .collection-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #ffffff00, #0000006c);
    z-index: 1;
}

.collection-img-main-container {
    width: 23%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.collection-img-main-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-position: center;
    background-size: cover;
    transition: transform 0.3s ease;
}

.collection-img-main-container:hover::after {
    transform: scale(1.1);
}

.collection-img-main-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 60%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent 0%,
            rgba(255, 255, 255, 0.155) 50%,
            transparent 100%);
    transform: skewX(-25deg);
    transition: left 0.4s ease;
    z-index: 2;
}

.collection-img-main-container:hover::before {
    left: 130%;
}

/*  Home filter*/

.filter-home .products-filter {
    display: flex;
    gap: 35px;
    margin-bottom: 35px;
}

.filter-home .products-filter .filter-btn {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    color: #999;
    transition: all 0.5s ease-in-out;
}

.filter-home .products-filter .filter-btn.active,
.filter-home .products-filter .filter-btn:hover {
    color: rgba(0, 0, 0, 0.838);
}


.filter-home .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.filter-home .product-container .product {
    width: 22%;
    margin-bottom: 40px;
    position: relative;
}
.filter-home .product-container .product .price{
    font-weight: 600;
}
.filter-home .product-container .product .price .old {
    text-decoration: line-through;
    color: #848383;
    margin-left: 5px;
}

.filter-home .product-container .product .badge {
    position: absolute;
    background: #a2a1a1;
    padding: 3px 8px;
    font-size: 12px;
    left: 15px;
    top: 15px;
    font-weight: 600;
    color: #fff;
}

.filter-home .product-container .product .badge.sale {
    background: #a2a1a1;
}

.filter-home .product-container .product .badge.new {
    background: black;
}
.filter-home .product-container .product-title{
    font-size: 14px;
    color: #3b3b3b;
    margin-block: 10px;
}

.filter-home .product-container .img-container {
    position: relative;
    overflow: hidden;
    height:350px ;
    margin-bottom: 20px;
}

.filter-home .product-container .img-container img {
    transition: 0.6s;
    height: 100%;
}

.filter-home .product-container .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.filter-home .product-container .product:hover .hover-img {
    opacity: 1;
}

.filter-home .product-container .product:hover .main-img {
    opacity: 0;
}

.filter-home .product-container .product-actions {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.filter-home .product-container .product-actions button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background: white;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);

    opacity: 0;
    transform: translateX(20px);
    transition: all .35s ease;
}
.filter-home .product-container .product-actions button svg {
    width: 20px;
    height: 20px;

}

.filter-home .product-container .product:hover .product-actions button {
    opacity: 1;
    transform: translateX(0);
}

.filter-home .product-container .product:hover .product-actions button:nth-child(1){
    transition-delay: .05s;
}

.filter-home .product-container .product:hover .product-actions button:nth-child(2){
    transition-delay: .12s;
}

.filter-home .product-container .product:hover .product-actions button:nth-child(3){
    transition-delay: .2s;
}



/* Home offers */

.home-offer {
    padding-block: 100px;
    display: flex;
    justify-content: space-between;
    height: 707px;
}

.home-offer .offer-img-main-container {
    width: 49.5%;
    padding: 40px;
    height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;

}

.home-offer .offer-img-main-container.offer1 {
    background-image: url('../media/v5-banner-05.webp');
}

.home-offer .offer-img-main-container.offer2 {
    background-image: url('../media/v5-banner-04.webp');
}


.home-offer .offer-img-main-container .offer-cont {
    position: relative;
    z-index: 3;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    /* align-items: center; */
}

.home-offer .offer-img-main-container .offer-cont p {
    font-size: 35px;
}
.home-offer .offer-img-main-container .offer-cont h3 {
    font-size: 65px;
}

.home-offer .offer-img-main-container .offer-cont a {
    width: fit-content;
    margin-block: 20px;
    border-bottom: 1px solid;
}

.home-offer .offer-img-main-container .offer-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #ffffff00, #0000006c);
    z-index: 1;
}

.offer-img-main-container {
    width: 23%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.offer-img-main-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-position: center;
    background-size: cover;
    transition: transform 0.3s ease;
}

.offer-img-main-container:hover::after {
    transform: scale(1.1);
}

.offer-img-main-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 60%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent 0%,
            rgba(255, 255, 255, 0.155) 50%,
            transparent 100%);
    transform: skewX(-25deg);
    transition: left 0.4s ease;
    z-index: 2;
}

.offer-img-main-container:hover::before {
    left: 130%;
}


/* quotation */


.quotation{
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
    font-size: 25px;
    text-align: center;
}
.quotation q{
    width: 65%;
}

/* sponsors */
.sponsors{
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.sponsors .image{
    width: 150px;
    height: 80px;
}
.sponsors .image img{
    filter: invert(50%);
    transition: 0.7s;
}

.sponsors .image img:hover{
    filter: invert(0%);
}
.trending-now {
    display: flex;
    justify-content: space-between;
    margin-bottom:100px;
}

.trending-now .left {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trending-now .left h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.trending-now .left p {
    font-size: 18px;
    margin-top: 10px;
}

.trending-now .right {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

