/* root and base style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
    object-fit: cover;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.img-box {
    position: relative;
}

.img-box img {
    width: 100%;
    display: block;
}

.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.img-box:hover .hover-img {
    opacity: 1;
}

.old-price {
    color: #7E7E7E;
    text-decoration: line-through;
}

.price {
    color: #ababab;
}

.uppercase{
    text-transform: uppercase;
}
button {
    border: none;
}

/* header */
header {
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 999999;
    background-color: #fff;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    width: 37%;
}

header nav .actions-pages-ul,
header nav .main-pages-ul {
    display: flex;
    justify-content: space-between;
}

header .actions-pages ul {
    justify-content: space-evenly;
}

header svg {
    width: 20px;
}

header .logo {
    width: 15%;
}

header .main-pages ul li a {
    font-weight: 500;
    position: relative;
    text-decoration: none;
}

header .main-pages ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease;
}

header .main-pages ul li a:hover::after {
    width: 100%;
}

header .main-pages ul li a.active::after {
    width: 100%;
}

.wishlist-header-icon,
.cart-header-icon {
    position: relative;
}

header .actions-pages .wishlist-counter,
header .actions-pages .cart-counter {
    border-radius: 50%;
    position: absolute;
    left: 12px;
    top: -7px;
    width: 17px;
    height: 17px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-color: black;
}

.shop-header-nav,
.collection-header-nav {
    position: relative;
}

.shop-header-nav:hover .shop-header-container,
.collection-header-nav:hover .collection-header-container {
    opacity: 1;
    visibility: visible;
}

.shop-header-container {
    display: flex;
    position: absolute;
    transition: all .3s ease-in-out;
    z-index: 1000;
    box-shadow: 0 4px 5px #0000001a;
    width: 99vw;
    padding: 40px;
    justify-content: space-between;
    top: 100%;
    left: -147px;
    height: fit-content;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    background-color: #fff;

}

.collection-header-container {
    display: flex;
    position: absolute;
    transition: all .3s ease-in-out;
    z-index: 1000;
    box-shadow: 0 4px 5px #0000001a;
    width: 100vw;
    padding: 40px;
    justify-content: space-between;
    top: 100%;
    left: -283px;
    height: fit-content;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    background-color: #fff;
}

.shop-header-container .cat-shop-header {
    width: 20%;
}

.shop-header-container .cat-shop-header h3 {
    margin-bottom: 10px;
}

.shop-header-container .cat-shop-header ul li {
    margin-bottom: 5px;
    color: #ABABAB;
}

.shop-header-container .trend-week-header {
    width: 40%;
}

.trend-week-header ul {
    display: flex;
    justify-content: space-between;
}

.trend-week-header ul li {
    width: 30%;
}

.collection-img-header-container {
    width: 23%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.collection-img-header-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s ease;
}

.collection-img-header-container:hover::after {
    transform: scale(1.1);
}

.collection-img-header-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 60%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent 0%,
            rgba(255, 255, 255, 0.4) 50%,
            transparent 100%);
    transform: skewX(-25deg);
    transition: left 0.6s ease;
    z-index: 2;
}

.collection-img-header-container:hover::before {
    left: 130%;
}

.collection-header-container .collection-cont {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 40px;
    color: #fff;
    z-index: 3;
    position: relative;
    height: 100%;
}

.collection-header-container .collection-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.182);
    z-index: 2;
    top: 0;
    left: 0;
}

.collection-header-container .collection-cont h3 {
    font-size: 30px;
    margin-bottom: 5px;
}

.collection-header-container .collection-cont a {
    border-bottom: 1px solid #fff;
}

.collection-img-header-container.collection1 {
    background-image: url('../media/v3-banner-03.webp');
}

.collection-img-header-container.collection2 {
    background-image: url('../media/v3-banner-01.webp');
}

.collection-img-header-container.collection3 {
    background-image: url('../media/banner-41.webp');
}

.collection-img-header-container.collection4 {
    background-image: url('../media/countdown-08_1aa1bf3e-0082-4e7b-b636-55cd077f1a12.webp');
}

/* -------------- */


.search-header-dialog {
    inset-inline-start: 72%;
    max-height: 100vh;
    min-height: 100vh;
    max-width: 30%;
    min-width: 30%;
    border: none;
    padding: 20px;
    transform: translateX(100%);
    opacity: 0;
    transition: transform .4s ease, opacity .4s ease;
}

.search-header-dialog.active {
    transform: translateX(0);
    opacity: 1;
}

.search-header-dialog.closing {
    transform: translateX(100%);
    opacity: 0;
}

.search-header-dialog::backdrop {
    background-color: #000000a2;
    backdrop-filter: blur(2px);
}

.search-header-dialog h3 {
    font-size: 25px;
}

.search-header-dialog h4 {
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #0000001a;
}

.search-header-dialog input {
    width: 100%;
    margin-block: 30px;
    padding: 15px 8px;
    outline: none;
    border: none;
    background: #ababab14;
}

.search-header-dialog ul {
    display: flex;
    color: #ABABAB;
    margin-bottom: 10px;
}

.search-header-dialog ul li a {
    border-bottom: 1px solid #0000001a;
}

.search-header-dialog .most-searched-products .most-search-product {
    margin-bottom: 20px;
    display: flex;
}

.search-header-dialog .most-searched-products .most-search-product .image {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.search-header-dialog .most-searched-products .most-search-product .image img {
    width: 80px;
    height: 80px;
}

.search-header-dialog .most-searched-products .most-search-product h4 {
    border: none;
    font-size: 16px;
    margin-bottom: 0;
    padding-block: 10px;
}

.close-search-dialog {
    background: transparent;
    color: #7E7E7E;
}

.search-close-header {
    display: flex;
    justify-content: space-between
}

/* footer */
footer {
    background: #F6F6F3;
}

footer .top-footer {
    display: flex;
    padding-block: 100px;
    justify-content: space-between;
}

footer .top-footer h3 {
    font-weight: 500;
    margin-bottom: 15px;
}

footer .top-footer ul li,
footer .top-footer p {
    font-weight: 500;
    margin-bottom: 9px;
    color: #8c8b8b;
}

footer .top-footer input {
    width: 100%;
    font-size: 35px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(80, 79, 79, 0.112);
    margin-top: 20px;
}

footer .bottom-footer {
    display: flex;
    padding-bottom: 40px;
    justify-content: space-between;
    align-items: center;
    color: #7E7E7E;
}

footer .bottom-footer ul,
footer .bottom-footer .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .bottom-footer ul.links li {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 10px;
}
footer .bottom-footer .center{
    width: 20%;
}
footer .bottom-footer .left p{
    margin-right: 25px;
}
footer .bottom-footer .right ul li{
    margin-right: 25px;
}
