.filter-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    flex-direction: column; 
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    box-shadow: 5px 0 15px rgba(0,0,0,0.1);
    padding: 20px;
    padding-top: 60px;
}
body.no-scroll{
    overflow: hidden;
}

.filter-sidebar.active {
    transform: translateX(0);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 20px;
        position: relative;
    justify-content: space-between;
    align-items: center;
    height: 70px;

}


.sidebar-content{
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-right: 10px;
}

/* Chrome */
.sidebar-content::-webkit-scrollbar{
    width: 5px;
}

.sidebar-content::-webkit-scrollbar-thumb{
    background:#ddd;
    border-radius:10px;
}

/* Firefox */
.sidebar-content{
    scrollbar-width: thin;
}

.filter-group h3 {
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.filter-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease;


}

.filter-overlay.active{
    opacity: 1;
    visibility: visible;
}

.price-slider-container {
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none; 
}

.slider-track {
    width: 100%;
    height: 2px; 
    background-color: #000;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: #000;
    cursor: pointer;
    border-radius: 50%;
    pointer-events: auto; 
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.price-values {
    margin-top: 15px;
    font-size: 14px;
    color: #888;
}

#range1, #range2 {
    color: #000;
    font-weight: bold;
}

.filter-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}