
/* Home collections */

.home-collection {
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    height: 707px;
}

.home-collection .collection-img-main-container {
    width: 32%;
    padding: 40px;
    height: 100%;
    text-align: center;
    position: relative;
    background-position: center;
    background-size: cover;

}

.home-collection .collection-img-main-container.collection1 {
    background-image: url('../../media/v5-banner-03.webp');
}

.home-collection .collection-img-main-container.collection2 {
    background-image: url('../../media/v5-banner-01.webp');
}

.home-collection .collection-img-main-container.collection3 {
    background-image: url('../../media/v5-banner-02.webp');
}

.home-collection .collection-img-main-container .collection-cont {
    position: relative;
    z-index: 3;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.home-collection .collection-img-main-container .collection-cont h3 {
    font-size: 35px;
}

.home-collection .collection-img-main-container .collection-cont a {
    width: fit-content;
    margin-block: 20px;
    border-bottom: 1px solid;
}

.home-collection .collection-img-main-container .collection-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #ffffff00, #0000006c);
    z-index: 1;
}

.collection-img-main-container {
    width: 23%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.collection-img-main-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-position: center;
    background-size: cover;
    transition: transform 0.3s ease;
}

.collection-img-main-container:hover::after {
    transform: scale(1.1);
}

.collection-img-main-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 60%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent 0%,
            rgba(255, 255, 255, 0.155) 50%,
            transparent 100%);
    transform: skewX(-25deg);
    transition: left 0.4s ease;
    z-index: 2;
}

.collection-img-main-container:hover::before {
    left: 130%;
}
