
/* header */
header {
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 999999;
    background-color: #fff;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    width: 37%;
}

header nav .actions-pages-ul,
header nav .main-pages-ul {
    display: flex;
   gap: 30px;

}
header nav .actions-pages-ul{
   gap: 50px;
}
header .actions-pages ul {
    justify-content: flex-end;
}

header svg {
    width: 20px;
}

header .logo {
    width: 15%;
}

header .main-pages ul li a {
    font-weight: 500;
    position: relative;
    text-decoration: none;
}

header .main-pages ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease;
}

header .main-pages ul li a:hover::after {
    width: 100%;
}

header .main-pages ul li a.active::after {
    width: 100%;
}

.wishlist-header-icon,
.cart-header-icon {
    position: relative;
}

header .actions-pages .wishlist-counter,
header .actions-pages .cart-counter {
    border-radius: 50%;
    position: absolute;
    left: 12px;
    top: -7px;
    width: 17px;
    height: 17px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-color: black;
}
/* shop nav */
.shop-header-nav,
.collection-header-nav {
    position: relative;
}

.shop-header-nav:hover .shop-header-container,
.collection-header-nav:hover .collection-header-container {
    opacity: 1;
    visibility: visible;
}

.shop-header-container {
    display: flex;
    position: absolute;
    transition: all .3s ease-in-out;
    z-index: 1000;
    box-shadow: 0 4px 5px #0000001a;
    width: 99vw;
    padding: 40px;
    justify-content: space-between;
    top: 220%;
    left: -114px;
    height: fit-content;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    background-color: #fff;
    padding-top: 0px;

}



.shop-header-container .cat-shop-header {
    width: 20%;
}

.shop-header-container .cat-shop-header h3 {
    margin-bottom: 10px;
}

.shop-header-container .cat-shop-header ul li {
    margin-bottom: 5px;
    color: #ABABAB;
}

.shop-header-container .trend-week-header {
    width: 40%;
}

.trend-week-header ul {
    display: flex;
    justify-content: space-between;
}

.trend-week-header ul li {
    width: 30%;
}
/* collection nav */

.collection-header-container {
    display: flex;
    position: absolute;
    transition: all .3s ease-in-out;
    z-index: 1000;
    box-shadow: 0 4px 5px #0000001a;
    width: 100vw;
    padding: 40px;
    justify-content: space-between;
    top: 220%;
    left: -220px;
    height: fit-content;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    background-color: #fff;
    padding-top: 0px;
}
.collection-img-header-container {
    width: 23%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.collection-img-header-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s ease;
}

.collection-img-header-container:hover::after {
    transform: scale(1.1);
}

.collection-img-header-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 60%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent 0%,
            rgba(255, 255, 255, 0.4) 50%,
            transparent 100%);
    transform: skewX(-25deg);
    transition: left 0.6s ease;
    z-index: 2;
}

.collection-img-header-container:hover::before {
    left: 130%;
}

.collection-header-container .collection-cont {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 40px;
    color: #fff;
    z-index: 3;
    position: relative;
    height: 100%;
}

.collection-header-container .collection-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.182);
    z-index: 2;
    top: 0;
    left: 0;
}

.collection-header-container .collection-cont h3 {
    font-size: 30px;
    margin-bottom: 5px;
}

.collection-header-container .collection-cont a {
    border-bottom: 1px solid #fff;
}

.collection-img-header-container.collection1 {
    background-image: url('../../media/v3-banner-03.webp');
}

.collection-img-header-container.collection2 {
    background-image: url('../../media/v3-banner-01.webp');
}

.collection-img-header-container.collection3 {
    background-image: url('../../media/banner-41.webp');
}

.collection-img-header-container.collection4 {
    background-image: url('../../media/countdown-08_1aa1bf3e-0082-4e7b-b636-55cd077f1a12.webp');
}
